---
layout: layouts/home.njk
title: Home
description: Building software development team that delivers value.

eleventyNavigation:
  key: Home
  order: 1
---

<h1>About Me</h1>
<p>I'm Cedric Roy</p>
<p>I've been developing and building software teams for over 15 years around the Agile principles.</p>
<p>This blog will be around product development, feature prioritization and how to scale a product team through the use of the Product Operations Manager role.</p>