---
layout: layouts/base.njk
---
<div class="mt-6  px-6">
<h1 class="font-bold text-5xl">{{ title }}</h1>

<article class="prose lg:prose-xl my-4 mx-auto">

{{ content | safe }}
</article>
</div>
<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>